[submodule "Dependencies/CUE4Parse"]
	path = Dependencies/CUE4Parse
	url = https://github.com/h4lfheart/CUE4Parse
[submodule "Dependencies/FrostyToolsuite"]
	path = Dependencies/FrostyToolsuite
	url = https://github.com/FrostyToolsuite/FrostyToolsuite
